body {
  background: pink;
  font-family: 'Lato', sans-serif;
}

a, 
a:focus,
a:hover {
  color: inherit;
} 
.no-mg {
  margin: 0;
}

.container-fluid>.container {
  position: relative;
  padding: 0;
}
.user-area-bg {
  color: #fff;
  background: #242424;
}
input {
  color: #000;
}
.navbar {
  border-radius: 0;
}
.navbar-nav {
  margin: 7.5px 0;
}

.navbar-collapse {
  padding: 0;
}

.logo {
  float: left;
}

.info {
  position: absolute;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
}
.teaser {
  position: relative;
  min-height: 460px;
}
.teaser:after {
  content: "\00a0";
  position: absolute;
  display: block;
  background: url(../img/teaser-repeat.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.teaser-content {
  padding-top: 100px;
}
.msg {
  position: relative;
  width: 58px;
  line-height: 58px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.price {
  background: #57c5a0;
}
.fa {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  background: #fff;
  cursor: pointer;
}
.fa:hover {
  color: #57c5a0;
}
.items-header {
  position: relative;
}


/*tabs*/
.nav-tabs-bg {
  background: #2e2e2e;
}
.nav-tabs {
  color: #fff;
  border-bottom: none;
}

.nav-tabs>li {
  float: none;
  text-align: center;
}

.nav-tabs>li>a {
  padding: 0;
  margin: 0;
  line-height: 30px;
  border: none;
  border-radius: 0;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:focus,
.nav-tabs>li.active a:hover {
  border: none;
  margin: 0;
  padding: 0;
}
.nav-tabs>li a:hover {
  background: #fff;
  color: #000;
}
a small {
  display: block;
  line-height: 10px;
  padding-bottom: 10px;
}
.tab-content-bg {
  background: #242424;
}
.items {
  background: #ebe7df;
}
.add {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  line-height: 60px;
  margin-top: -30px;
  margin-left: -90px;
  background: rgb(36,36,36);
  background: rgba(36,36,36,.9);
  color: #fff;
  text-align: center;
  -webkit-transition: top 0.2s; 
  -moz-transition: top 0.2s; 
  -o-transition: top 0.2s; 
  transition: top 0.2s;
}
.item:hover .add {
  top: -25%;
}
/* end tabs*/

.show-all {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  position: relative;
  display: block;
  max-width: 300px;
  padding: 0;
  margin: 20px auto;
  background: #fff;
  overflow: hidden;
}
.item .col-sm-4 {
  width: auto;
  padding: 0;  
}
.description {
  padding-left: 105px;
  line-height: 50px;
  font-size: 20px;
  border-top: 1px solid lightgray;
}
.item .msg {
  position: absolute;
}
.item .price {
  bottom: 0;
  left: 10px;
}
.sale,
.stock-out {
  top: 0;
  right: 10px;
}
.sale {
  background: #000;
}
.stock-out {
  padding: 9px 0;
  line-height: 20px;
  background: #f27e4b;
}
.item .action {
  position: absolute;
  bottom: -50px;
  left: 90px;
  background: #fff;
  -webkit-transition: bottom 0.2s; 
  -moz-transition: bottom 0.2s; 
  -o-transition: bottom 0.2s; 
  transition: bottom 0.2s;
}
.item:hover .action {
  bottom: 10px;
}
.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
  .user-area {
    float: right;
  }
  .info {
    float: right;
    position: relative;
  }
  .nav-tabs>li {
    float: left;
    width: 20%;
  }
  .teaser {
    background:  url(../img/teaser-image.jpg)  50% 50% no-repeat;
  }
  .teaser-content {
    margin-left: 50%;
  }
  .item {
    float: left;
    width: 32%;
    max-width: inherit;
    margin: 0;
  }
  .item ~ .item {
    margin-left: 2%;
  }
  .footer-links {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer-links li {
    display: inline-block;
  }
  .footer-links li ~ li:before {
    content: "\00a0/\00a0\00a0";
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
  .item {
    width: 31.9%;
    max-width: inherit;
    margin: 0;
  }
  .item ~ .item {
    margin-left: 2.1%;
  }
  .fa {
    width: 40px;
    line-height: 40px;
  }
  .item:hover .action {
    bottom: 5px;
  }
  .msg {
    width: 68px;
    line-height: 68px;
    font-size: 14px;
  }
  .stock-out {
    padding: 14px 0;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .item .action {
    left: 100px;
  }
}