/*
Author:       Danko Milutinovic
Desctiption:  styles for http://danko-m.github.io/sample-02/
Contact:      dankomilutinovic@gmail.com, 
              https://rs.linkedin.com/pub/danko-milutinovic/a3/675/778, 
              http://danko-m.github.io/
Design:       EnzoLiVolti:  http://enzolivolti.com/ , 
              https://www.behance.net/gallery/12680703/FREE-FooseShoes-eCommerce-PSD
*/

body {
  font-family: 'Lato', sans-serif;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

.no-mg {
  margin: 0;
}

.container {
  position: relative;
  padding: 0;
}

.user-area-bg {
  color: #fff;
  background: #242424;
}

.logo {
  float: left;
  width: 100%;
  font-size: 25px;
  color: #57C5A0;
  line-height: 50px;
}

.logo:hover {
  color: #6AF3C5;
}

.user-area-bg {
  height: 85px;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.new-height {
  height: 115px;
}

.user-area span {
  display: block;
}

.user-area input {
  display: block;
  display: none;
  width: auto;
  padding: 5px 10px;
  color: #fff;
  background-color: #636363;
  border: none;
}

.user-area a:hover {
  text-decoration: underline;
}

.fa.fa-search {
  background: #242424;
}

.badge {
  margin-left: 5px;
  background-color: #57C5A0;
}

.info .fa {
  width: 20px;
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-default {
  background-color: #fff;
}

.navbar-nav {
  margin: 7.5px 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #fff;
}

.navbar-collapse {
  padding: 0;
}

.info {
  position: absolute;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info li {
  float: left;
  padding: 0 10px;
  line-height: 50px;
}

.info li + li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.teaser {
  position: relative;
  min-height: 460px;
}

.teaser:after {
  content: "\00a0";
  position: absolute;
  display: block;
  background: url(../img/teaser-repeat.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.teaser-content {
  padding-top: 100px;
}

.msg {
  position: relative;
  width: 58px;
  line-height: 58px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.price {
  background: #57c5a0;
}

.fa {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  background: #fff;
  cursor: pointer;
}

.fa:hover {
  color: #57c5a0;
}

.items-header {
  position: relative;
  margin-top: 10px;
}

.items-header > div {
  width: 150px;
  font-size: 14px;
}


/*tabs*/

.bg-02 {
  background: #2e2e2e;
}

.nav-tabs {
  color: #fff;
  border-bottom: none;
}

.nav-tabs>li {
  float: none;
  text-align: center;
}

.nav-tabs>li>a {
  padding: 0;
  margin: 0;
  line-height: 30px;
  border: none;
  border-radius: 0;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:focus,
.nav-tabs>li.active a:hover {
  border: none;
  margin: 0;
  padding: 0;
}

.nav-tabs>li a:hover {
  background: #fff;
  color: #000;
}

a small {
  display: block;
  line-height: 10px;
  padding-bottom: 10px;
}

.bg-03 {
  background: #242424;
}

.tab-content {
  margin: 20px 0;
}

.items {
  background: #ebe7df;
}

.add {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  line-height: 60px;
  margin-top: -30px;
  margin-left: -90px;
  background: rgb(36, 36, 36);
  background: rgba(36, 36, 36, .9);
  color: #fff;
  text-align: center;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

.item:hover .add {
  top: -25%;
}


/* end tabs*/

.show-all {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -17px;
  font-weight: 700;
  color: #B5B0A7;
  border-radius: 0;
  background-color: transparent;
}

.show-all:hover {
  color: #969289;
  background-color: transparent;
}

.item {
  position: relative;
  display: block;
  max-width: 300px;
  padding: 0;
  margin: 20px auto;
  background: transparent;
  overflow: hidden;
}

.item .col-sm-4 {
  width: auto;
  padding: 0;
  background: #fff;
}

.description {
  padding-left: 105px;
  line-height: 50px;
  font-size: 20px;
  border-top: 1px solid #ccc;
}

.item .msg {
  position: absolute;
}

.item .price {
  bottom: 0;
  left: 10px;
}

.sale,
.stock-out {
  top: 0;
  right: 10px;
}

.sale {
  background: #000;
}

.stock-out {
  padding: 9px 0;
  line-height: 20px;
  background: #f27e4b;
}

.item .action {
  position: absolute;
  bottom: -50px;
  left: 90px;
  background: #fff;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
}

.item:hover .action {
  bottom: 10px;
}

.addons {
  margin: 50px auto 20px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  overflow: hidden;
}


/*.addons .row {
  margin: 0;
}*/

.addons .col-sm-3,
.addons .col-sm-6 {
  padding: 20px 30px 1000em 30px;
  margin-bottom: -1000em;
  background-color: #DFDBD4;
}

.addons-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.date {
  width: 50px;
  margin-right: 10px;
  padding: 5px 0;
  float: left;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #57c5a0;
}

.no-mb {
  margin-bottom: 0;
}

.no-mb + p {
  overflow: auto;
}

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #a4a4a4;
}

.widget-title {
  margin-bottom: 15px;
}

.tweet-text {
  font-style: italic;
}

.twitter-atreply {
  color: #57c5a0;
}

.twitter-atreply:hover {
  color: #57c5a0;
  text-decoration: underline;
}

.twited-ago {
  margin-bottom: 15px;
  font-weight: 700;
  font-style: italic;
}

.flickr_badge_image {
  float: left;
}

.flickr_badge_image img {
  border: none;
  padding: 0;
  margin: 2px;
}

.flickr_badge_wrapper {
  text-align: left
}

.contact {
  padding: 30px 0;
}

.social {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.social li {
  display: inline-block;
}

.social a {
  color: #828282;
}

.social .fa {
  background: #2E2E2E;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 80%;
  padding: 0 10px;
  border: none;
  color: #fff;
  background: #2E2E2E;
  line-height: 30px;
}

.fa-chevron-right {
  position: relative;
  top: 1px;
  background: #828282;
}

.separator {
  border-bottom: 1px solid #1c1c1c;
}

.copy {
  padding: 30px 0;
  color: #828282;
  line-height: 1.7em;
}

.copy a:hover {
  text-decoration: underline;
  color: #57c5a0;
}

.footer-links {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .items-header > div {
    width: auto;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .user-area-bg {
    height: auto;
  }
  .logo {
    width: auto;
  }
  .info li + li {
    border: none;
  }
  .info li:first-child {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .navbar,
  .navbar-nav {
    margin: 0;
  }
  .navbar-default {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .navbar-nav>li>a {
    font-weight: 700;
    border-right: 1px solid #ccc;
  }
  .user-area {
    float: right;
  }
  .user-area span {
    display: inline-block;
  }
  .info {
    float: right;
    position: relative;
  }
  .nav-tabs>li {
    float: left;
    width: 20%;
  }
  .teaser {
    background: url(../img/teaser-image.jpg) 50% 50% no-repeat;
  }
  .teaser-content {
    margin-left: 50%;
  }
  .items-header {
    margin-bottom: 10px;
  }
  .item {
    float: left;
    width: 32%;
    max-width: inherit;
    margin: 0;
  }
  .item ~ .item {
    margin-left: 2%;
  }
  .addons .col-sm-3,
  .addons .col-sm-6 {
    padding: 20px 15px 1000em 15px;
  }
  .addons .col-sm-3 {
    width: 23%;
  }
  .addons .col-sm-3 + .col-sm-3 {
    margin-left: 2%;
    margin-right: 2%;
  }
  .addons .col-sm-6 {
    width: 50%;
  }
  .narrow-row {
    margin: 0 20px;
  }
  .social {
    margin-top: 0;
  }
  .copy div:first-child {
    float: left;
  }
  .footer-links {
    float: right;
    margin-top: 0;
  }
  .footer-links li {
    display: inline-block;
  }
  .footer-links li ~ li:before {
    content: "\00a0/\00a0\00a0";
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
  .info li {
    line-height: 60px;
  }
  .navbar-nav>li>a {
    padding: 15px 20px;
    line-height: 30px;
    font-size: 16px;
  }
  .item {
    width: 31.9%;
    max-width: inherit;
    margin: 0;
  }
  .item ~ .item {
    margin-left: 2.1%;
  }
  .fa {
    width: 40px;
    line-height: 40px;
  }
  .item:hover .action {
    bottom: 5px;
  }
  .msg {
    width: 68px;
    line-height: 68px;
    font-size: 14px;
  }
  .stock-out {
    padding: 14px 0;
    line-height: 20px;
  }
  .input-wrapper input {
    line-height: 40px;
  }
  .social {
    padding-left: 40px;
  }
}

@media (min-width: 1200px) {
  .item .action {
    left: 100px;
  }
}
