body {
  background: pink;
}
.container-fluid>.container {
	position: relative;
	padding: 0;
}
.navbar-nav {
  margin: 7.5px 0;
}
.navbar-collapse {
	padding: 0;
}
.logo {
	float: left;
}
.info {
  position: absolute;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
}

.items-header {
	position: relative;
}
.show-all {
	position: absolute;
	top: 0;
	right: 0;
}
.items-body {
	margin: 0;
}
.item {
  position: relative;
  max-width: 300px;
  padding: 0;
  margin: 20px auto;
  background: #fff;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media only screen and (min-width: 768px) {
	.navbar-nav {
		margin: 0;
	}
  .info {
    float: right;
    position: relative;
  }
	.item {
    width: 31.9%;	
	  max-width: inherit;
  	margin: 0;
	}
  .item ~ .item {
		margin-left: 2.1%;
		background: green;
  }
  .footer-links {
  	position: absolute;
  	top: 0;
  	right: 0;
  }
  .footer-links li {
  display: inline-block;
}
.footer-links li ~ li:before {
	content: "\00a0/\00a0\00a0";
}
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

